* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	font-family: 'Lobster Two', cursive;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	margin: 0;
	position: relative;
}

header {
	float: left;
	padding: 5px 0 0 0;
	width: 100%;
	margin: 40px 0 30px 0;
	background: rgba(105,83,237,.5);
}

.main-nav {
	text-align: center;
	list-style: none;
	/* display: block; */
	padding: 10px 15px;
}

nav li {
		display: inline-block;
		margin-right: 30px;
	}

nav a {
	font-weight: 400;
	font-size: 4em;
	text-decoration: none;
	color: #f8f3c4;
}

.selected {
	color: #fbc49e;
}

#logo {
	text-align: center;
	margin: 0;
	text-decoration: none;
}

#logo img{
	width: 80%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.tagline {
	font-weight: 400;
	color: #f8c3f4;
	font-size: 4.5em;
	text-align: center;
}

.natalie-photo {
	float: none;
	width: 100%;
	margin: 0 auto 30px;
	text-align: center;
}

.natalie-photo p{
	font-size: 2.5em;
	color: grey;
}

.natalie-photo img{
	border-radius: 50%;
	width: 50%;   
	min-width: 50%;
	max-width: 50%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.9);
}

footer {
	color: #a9a9a9;
	text-align: center;
	font-size: 2.5em;
}

.wrap {
	min-height: calc(100vh - 52px);
}

/************
Subpages
*************/

body#subpage {
	background-image: url("../images/background_secondary.gif");
}

#subpage footer {
	color: #ffe4e1;
}

.container {
	font-family: 'Nunito', sans-serif;
	padding-left: 1em;
	padding-right: 1em;
	overflow: auto;
}

.container h1 {
	color: #5575e4;
	font-size: 2.5em;
	text-align: center;
	text-decoration: underline;	
}

.container h2 {
	color: #9370db;
	font-size: 2.4em;
}

div.contact h2 {
	text-align: center;
}

div.contact p {
	text-align: center;
}

.container p {
	color: #9d6c6c;
	font-size: 2em;
}

.container #about {
	margin-top: 0;
}

.container li {
	color: #3EA271ED;
	font-size: 1.8em;
}

.container img {
	float: left;
	margin: 0 20px 20px 0;
	height: 50%;
	width: 50%;
}

#gallery {
	list-style: none;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#gallery li {
	display: inline-block;
	padding: 8px;
	max-width: 100%;
}

.bitlathe #gallery li {
	text-align: left;
}

.bitlathe #gallery #video-gif {
	width: 300px;
}

#gallery li img {
	display: block;
	width: 250px;
}

#gallery a {
	text-decoration: none;
}

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	overflow: scroll;
	z-index: 10;
}

#overlay img {
	margin-top: 10px;
	max-width: 100%;
}

#overlay p {
	font-family: 'Nunito', sans-serif;
	font-size: 1.2em;
	color: white;
	text-decoration: none;

}

.demo {
	text-align: center;
}

#flex-container {
	display: flex;
    flex-direction: row;
    max-width: 100%;
}

#flex-div-left {
	max-width: 50%;
}

#flex-div-right {
	max-width: 50%;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 992px) {

	body {
		font-family: 'Lobster Two', cursive;
		background-image: url("../images/background.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		margin: 0;
	}

	#logo img {
		max-width: 400px;
	}

	nav {
		text-align: right;
		padding: 10px 0;
		margin: -56px 0 15px 0;
	}

	nav a {
		font-size: 1.5em;
	}

	nav ul {
		list-style: none;
		margin: 0 10px;
		padding: 0;
	}

	nav li {
		display: inline-block;
		margin-right: 15px;
	}

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-nav {
		display: inline-block;
		list-style: circle;
		text-align: right;
	}

	.tagline {
		font-size: 2em;
	}

	.natalie-photo {
		float: none;
		width: 35%;
	}

	.natalie-photo p{
	font-size: 1.3em;
	}

	.natalie-photo img{
		border-radius: 50%;
		width: 43%;   /* width: 220px; height: 320px; for mobile: width: 120px; height: 160px */
		max-width: 43%;
		max-height: 43%;
		opacity: 0.8;
		/* filter: alpha(opacity=80); For IE8 and earlier */
		box-shadow: 5px 5px 5px rgba(0,0,0,.9);
	}


	footer {
		font-size: 1em;
		margin: 0 0 0 0;
	}

	footer p {
		margin: 0 0 0 0;
	}

	/************
	Subpages
	*************/

	.container {
		width: 85%;
		margin: 0 auto;
	}

	.container h1 {
		font-size: 1.75em;
    }

	.container h2 {
		font-size: 1.4em;
		margin-top: 35px;

	}

	.container h2 br {
		margin-top: 50px;
	}

	.container p {
		font-size: 1.2em;
		margin-top: -15px;
		margin-bottom: 0px;
	}

	.container li {
		font-size: 1.1em;
	}

	.container img {
		float: left;
		margin: 0 20px 10px 0;
		height: 22%;
		width: 22%;
	}

	#gallery li img {
		width: 175px;
	}

	.bitlathe #gallery #video-gif {
		width: 200px;
	}

}



