* {
	box-sizing: border-box;
	max-width: 100%;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	font-family: 'Lobster Two';
	margin: 0;
	background-color: white;
	max-width: 100%;
}

#header {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 700px;
	position : relative;
	padding-bottom: 50px;
	z-index: 50;
}

header {
	float: left;
	padding: 5px 0 0 0;
	width: 100%;
	margin: 40px 0 30px 0;
	background: rgba(105,83,237,.5);
}

.main-nav {
	text-align: right;
	list-style: none;
	/* display: block; */
	padding: 0 15px;
	margin: 5px 0 5px 0;
	height: 2.5em;
}

ul.main-nav li {
		display: inline-block;
		margin-right: 30px;
	}

ul.main-nav a {
	font-weight: 400;
	font-size: 1.6em;
	text-decoration: none;
	color: #f8f3c4;
}

.section-title {
	font-size: 3em;
	text-align: center;
	text-decoration: underline;	
	color:#7100fa;
}

.selected {
	color: #fbc49e;
}

#logo {
	text-align: center;
	margin: 0;
	text-decoration: none;
}

.logo-text {
  font-family: 'Lora', serif;
  font-size: 4em;
  font-weight: 600;
  text-decoration: none;
}

.logo-char {
	color: #2F4595;
}

.logo-name {
	background-image: linear-gradient(90deg, #008ede 0%, #FC00FF 50%, #f8f3c4 93%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.tagline {
	font-weight: 400;
	color: #f8c3f4;
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 0;
}

.natalie-photo {
	float: none;
	width: 35%;
	margin: 0 auto 30px;
	text-align: center;
}

.natalie-photo p{
	font-size: 2.5em;
	color: grey;
}

.natalie-photo img{
	border-radius: 50%;
	width: 50%;   
	min-width: 50%;
	max-width: 50%;
	box-shadow: 5px 5px 5px rgba(0,0,0,.9);
}

.wrap {
	min-height: calc(100vh - 52px);
}

.wave-container {
  position: relative;
  background: #0c0c26;
  height: 20vh;
  z-index: 30;
}

.wave {
  position: absolute;
  height: 115px;
  width: 100%;
  background: #0c0c26;
  bottom: 0;
}

.wave::before, .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #0c0c26;
  left: -1.5%;
  top: 40%;
}

.gradient {
	height: 50px;
	width: 100%;
	background: linear-gradient(180deg, rgba(12,12,38,0) 0%, rgba(12,12,38,1) 100%);    
	z-index: 100;
	margin-top: -40px;
	position: absolute;
}


/************
End of Header
*************/

#subpage {
	background-image: url("../images/background_secondary.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

#portfolio-sec, #about-sec, #contact-sec, .footer {
	padding-top: 40px;
}

#portfolio-sec {
	padding-bottom: 40px;
	background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(247,228,229,1) 100%); 
}

.first-letter{
	font-family: 'Princess Sofia', cursive;
	font-size: 1.5em;
}

.container, #portfolio-sec {
	font-family: 'Nunito', sans-serif;
	/*padding-left: 1em;
	padding-right: 1em;*/
}

.container {
	width: 85%;
	margin: 0 auto;
	}

h1 {
	color: #8D26AA;
	font-size: 2.4em;
	text-align: center;
	text-decoration: underline;	
}

h2 {
	font-size: 2em;
	color: #9370db;
}

h3 {
	color: #9370db;
	font-size: 1.6em;
	text-align: center;
}

a {
	color: #9370db;
	font-size: inherit;
	text-decoration: none;
}

div.contact h2 {
	text-align: center;
}

div.contact p {
	text-align: center;
}

p {
	color: #9d6c6c;
	font-size: 1.2em;
}

#about {
	margin-top: 0;
}

li {
	color: #4A8383;
	font-size: 1.1em;
}

.container img {
	float: left;
	margin: 0 20px 10px 0;
	height: 22%;
	width: 22%;
}



.accordion__section {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90%
}

/* These are the buttons that are used to open and close the accordion panel */
.accordion {
  background: radial-gradient(circle, rgba(210,154,226,1) 0%, rgba(247,228,229,1) 22%, rgba(193,240,242,1) 100%);
  cursor: pointer;
  padding: 18px 18px 18px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-radius: 25px;
  margin: 2px 0 2px 0;
}

.accordion:hover,
.active {
	background: #b0a3e2;
	color: #f8f3c4;
}

.accordion:hover h2,
.active h2 {
	color: #f8f3c4;
}

.accordion__title {
  text-align: left;
}

.accordion__title h2 {
	margin: 0 0 0 25px;
	font-weight: normal;
}

.accordion__icon {
  transition: transform 0.6s ease;
  font-weight: 400;
}

.rotate {
  transform: rotate(-90deg);
}

/* the accordion content panel is hidden by default */
.accordion__content {
  background-color: #c1f0f2;
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-width: 90%;
  margin: auto;
  min-width: 90%;
}

.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4;
  padding: 18px;
}

.iNoticed-img {
	display: block;
	width: 300px;
	float: right;
	margin: 10px 10px 20px 0;
}

#gallery {
	list-style: none;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#gallery li {
	display: inline-block;
	padding: 8px;
	max-width: 100%;
	text-align: left;
}

.bitlathe #gallery li {
	text-align: left;
}

.bitlathe #gallery #video-gif {
	width: 300px;
}

#gallery li img {
	display: block;
	width: 175px;
	float: left;
	margin: 0 20px 10px 0;
}

#gallery a {
	text-decoration: none;
}

#overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	overflow: scroll;
	z-index: 10;
}

#overlay img {
	margin-top: 10px;
	max-width: 100%;
}

#overlay p {
	font-family: 'Nunito', sans-serif;
	font-size: 1.2em;
	color: white;
	text-decoration: none;

}

div .demo {
	text-align: center;
	padding: 15px 0 15px 0;
}

#flex-container {
	display: flex;
    flex-direction: row;
    max-width: 100%;
}

#flex-div-left {
	max-width: 50%;
}

#flex-div-right {
	max-width: 50%;
}

footer {
	text-align: center;
}

.footer p {
	margin-bottom: 0;
	color: #ffe4e1;
	padding-bottom: 5px;
	font-size: 1.1em;
}




/*/* ============================================================================================================ 
  Media Queries
============================================================================================================== */

/*@media (min-width: 992px) {

	#logo img {
		max-width: 400px;
	}

	nav {
		text-align: right;
		padding: 10px 0;
		margin: -56px 0 15px 0;
	}

	nav a {
		font-size: 1.5em;
	}

	nav ul {
		list-style: none;
		margin: 0 10px;
		padding: 0;
	}

	nav li {
		display: inline-block;
		margin-right: 15px;
	}

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.main-nav {
		display: inline-block;
		list-style: circle;
		text-align: right;
	}

	.natalie-photo {
		float: none;
		width: 35%;
	}

	.natalie-photo p{
	font-size: 1.3em;
	}

	.natalie-photo img{
		border-radius: 50%;
		width: 43%;  
		max-width: 43%;
		max-height: 43%;
		opacity: 0.8;
		box-shadow: 5px 5px 5px rgba(0,0,0,.9);
	}


	footer {
		font-size: 1em;
		margin: 0 0 0 0;
		padding-bottom: 5px;
	}

	footer p {
		margin: 0 0 0 0;
	}

	/************
	Subpages
	*************/

/*	.container {
		width: 85%;
		margin: 0 auto;
	}

	h1 {
		font-size: 1.75em;
    }

	h2 {
		margin-top: 35px;

	}

	h2 br {
		margin-top: 50px;
	}

	p {
		font-size: 1.2em;
		margin-top: -15px;
		margin-bottom: 0px;
	}

	li {
		font-size: 1.1em;
	}

	.container img {
		float: left;
		margin: 0 20px 10px 0;
		height: 22%;
		width: 22%;
	}

	#gallery li img {
		width: 175px;
	}

	.bitlathe #gallery #video-gif {
		width: 200px;
	}

}

*/

